style.
	.screensaver {
		margin: 0;
		background-color: #000;
		width: 100%;
		height: 100%;
		z-index: 999;
		position: absolute;
		top: 0;
		left: 0;
	}

	div.x h3 {
		color: #fff;
	}

	img.y, div.x {
		width: 220px;
		height: 75px;
	}

	.x {
		animation: x 13s linear infinite alternate;
	}

	.y {
		animation: y 7s linear infinite alternate;
	}

	@keyframes x {
		100% {
			transform: translateX( calc(100vw - 220px) );
		}
	}

	@keyframes y {
		100% {
			transform: translateY( calc(100vh - 75px) );
		}
	}

div.screensaver
  div.x
   	img.y(src="/images/sersol-logo.png", alt="W&L Libraries")
    h3 Press any key to begin
